<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title> MentoriaT3ch </title>

  <link rel="shortcut icon" href="img/logoRoxo.png">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
    });
</script>

<body>


<nav class="black">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center grey-text">MentoriaT3ch</a>
  </div>
</nav>

<div class="parallax-container">
  <div class="parallax">
    <img width="150" src="img/bg.jpg">
  </div>
</div>

<div class="section black">
  <div class="row container header center-align">
    <div class="row">
      <h2 class="header grey-text">Cadastre-se  </h2>
      <h5 class="grey-text text-darken-3 lighten-3">
        Receba agora o ebook de Java com Spring Mvc - criando seu primeiro CRUD </h5>
      <form class="col s12" th:action="@{/mT3ch-ebook-spring-mvc}" method="post">
        <div class="row">

          <div class="input-field col s6">
            <input name="nome" id="nome" type="text" class="validate grey-text" required>
            <label for="nome"> Nome </label>
          </div>

          <div class="input-field col s6">
            <input name="sobrenome" id="sobrenome" type="text" class="validate grey-text" required>
            <label for="sobrenome"> Sobrenome </label>
          </div>
        </div>

        <div class="row">

          <div class="input-field col s6">
            <input name="email" id="email" type="email" class="validate grey-text" required>
            <label for="email"> Email </label>
          </div>

          <div class="input-field col s6">
            <input name="telefone" id="telefone" type="tel" class="validate grey-text" required>
            <label for="telefone"> Telefone: 11999999999 </label>
          </div>
        </div>


        <div class="row">
          <div class="col s12">

            <label>
              <input type="checkbox" class="filled-in"  />
              <span class="grey-text"> Permitir que as informações sejam salvas com segurança </span>
            </label>
          </div>

          <div class="input-field col s12">
            <<button class="btn waves-effect waves-light" type="submit" name="action"> Enviar </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
<div class="parallax-container ">
  <div class="parallax ">
    <img width="250 " src="img/img2.jpg">
  </div>
</div>

<script src="statics/js/main.js"></script>

</body>

</html>